<div class="banner">



  <style>#hover-title:hover{color:#a5d19c}</style><span id=T1>

  <a href="/" style="text-decoration: none;">
<div class="blogtitel" id="hover-title">
  &lt;<u><span>Jesper Hustad's</span> WebPage</u>&gt;</div>
</a>
<!-- style="color: #5bac4a;" -->
<!-- <ul id="wrapper" class="wrapper">
  <div class="sun">
    <div class="star"></div>
  </div>
  <div class="mercury">
    <div class="planet">
      <div class="shadow"></div>
    </div>
  </div>
  <div class="venus">
    <div class="planet">
      <div class="shadow"></div>
    </div>
  </div>
  <div class="earth">
    <div class="planet"><div class="shadow"></div></div>
  </div>
  <div class="mars">
    <div class="planet"><div class="shadow"></div></div>
  </div>
  <div class="jupiter">
    <div class="planet"><div class="shadow"></div></div>
  </div>
</ul> -->
</div>
